body {
    color: white;
    background-color: black;
    display: grid; 
    height: min-content;
    grid-template-areas: 
    "oben oben oben"
    "nav nav nav"
    "main main main"
    "unten unten unten";
    grid-template-rows: 1fr 1fr 1fr ;
    border-color: aquamarine;
    border-style: solid;
}
#oben01 {
width: 100%;
}
.oben {
    border-color: blueviolet;
    border-style: solid;
    grid-area: oben;
}

.nav {
    border-color: yellow;
    border-style: solid;
    grid-template-areas: "nav nav nav";
    grid-template-columns: 1fr 1fr 1fr;
 }

.unten{
    border-color: pink;
    border-style: solid;
    grid-area: unten;
}



.main {
    border-color: aquamarine;
    border-style: solid;
    grid-area: main;
}

.box{
       background-color: aquamarine;
    border-radius: 5px;
    margin: 2px;
    padding: 10px; 
}